.domainWrapper {
    max-width: 950px;
}

.domainWrapper table {
	border: 0px;
    border-collapse: collapse;
}

.domainWrapper table thead {
    border-bottom: 2px solid #a2a2a2;
}

.domainWrapper table th {
	padding: 4px;
    margin: 0;
}

.domainWrapper table td {
	border-bottom: 1px solid #a2a2a2;
	font-size: 15px;
    padding: 2px;
}

.domainWrapper .env {
    text-align: center;
}

.contracts td,
.specifications td,
.reviews td,
.connections td {
    text-align: center;
}

.domains th,
.interactions th {
    text-align: left;
    vertical-align: bottom;
}

.domains td,
.interactions td {
    vertical-align: top;
    padding: 1em;
}

.date {
    white-space: nowrap;
}

table .firstColumn {
    text-align: left;
}

.contracts .firstColumn,
.specifications .firstColumn,
.reviews .firstColumn {
    width: 320px;
}

.connections .firstColumn {
    min-width: 120px;
    width: 200px;
}

table th.version {
    width:60px;
}

table th.contract {
    width:100px;
}

table p {
    line-height: inherit;
}


img {
    border: none;
}
